@font-face {
font-family:"Muli";
src: url("../fonts/Muli/Muli-Light.ttf");
}

body {
  font-family: 'Muli', sans-serif!important;
  text-align: center;
  margin-left: 240px;
  margin-right: 240px;
}

h1{
  font-family: 'Muli', sans-serif!important;
  font-size: 35px;
}

p {
  font-size: 20px;
  text-align: justify;
  line-height: 200%;
}

#sanfran{
  width: 25%;
}

#myChart{
  margin-top: 25px;
}

#lifeThreateningChart{
  margin-top: 25px;
}

#responseTimeChart{
  margin-top: 25px;
}

#unitTimeChart{
  margin-top: 25px;
}

#batTimeChart{
  margin-top: 25px;
}

#timeBox{
  border: 1px solid black;
  margin-top: 20px;
  width: 400px;
  margin-left: 0px;

  float: left;
}

#unitBox{
  border: 1px solid black;
  margin-top: 20px;
  width: 300px;
  float: right;
  margin-right: 0px;

}

<<<<<<< HEAD
#references{
  margin-top: 30px;
}

=======
>>>>>>> parent of 2e6ae93... final push
.hospitalCharts{
  margin-top: 100px;
}
