@font-face {
font-family:"Muli";
src: url("../fonts/Muli/Muli-Light.ttf");
}

body {
  font-family: 'Muli', sans-serif!important;
  text-align: center;
  margin-left: 240px;
  margin-right: 240px;
}

h1{
  font-family: 'Muli', sans-serif!important;
  font-size: 35px;
}

p {
  font-size: 20px;
  text-align: justify;
  line-height: 200%;
}


#sanfran{
  width: 25%;
}
